@using System.Globalization
@inject SweetAlertService Swal
@inject IJSRuntime JsRuntime
@inject IToastService ToastService

@if (Model is null)
{
    <p>Cargando....</p>
}
else
{
    <div class="row">
        <div class="col-md-6">
            <EditForm Model="Model" OnValidSubmit="OnSave">
                <DataAnnotationsValidator />
                <div class="form-floating mb-3">
                    <input @bind-value="Model.NombreCompleto" class="form-control" placeholder="Ingrese su nombre completo." id="nombres" />
                    <label for="nombres" class="form-label">Nombres</label>
                    <ValidationMessage For="@(() => Model.NombreCompleto)" />
                </div>
                <div class="form-floating mb-3">
                    <input @bind-value="Model.Rut" class="form-control" placeholder="RUT" id="rut" />
                    <label for="rut" class="form-label">RUT</label>
                    <ValidationMessage For="@(() => Model.Rut)" />
                </div>
                <div class="form-floating mb-3">
                    <input @bind-value="Model.Direccion" class="form-control" placeholder="Dirección" id="direccion" />
                    <label for="direccion" class="form-label">Dirección</label>
                    <ValidationMessage For="@(() => Model.Direccion)" />
                </div>
                <div class="form-floating mb-3">
                    <input @bind-value="Model.FechaNacimiento" class="form-control" type="date" id="fechaNacimiento" />
                    <label for="fechaNacimiento" class="form-label">Fecha Nacimiento</label>
                    <ValidationMessage For="@(() => Model.FechaNacimiento)" />
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="inputLatitud" type="text" @bind-value="Model.Latitud" autocomplete="off" />
                    <label for="inputLatitud">Latitud</label>
                    <ValidationMessage For="@(() => Model.Latitud)" />
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="inputLongitud" type="text" @bind-value="Model.Longitud" autocomplete="off" />
                    <label for="inputLongitud">Longitud</label>
                    <ValidationMessage For="@(() => Model.Longitud)" />
                </div>
                <button type="button" class="btn btn-outline-primary mb-3"
                        @onclick="LocalizarAutomaticamente">
                    <i class="fa fa-street-view me-1"></i>Localizar automáticamente
                </button>
                <ValidationSummary />
                <button type="submit" class="w-100 btn btn-lg btn-primary">Guardar cambios</button>
            </EditForm>
        </div>
    </div>

    <LoadingComponent IsLoading="IsLoading" />
}


@code {

    [Parameter]
    public UpdateProfileDtoRequest? Model { get; set; } 

    [Parameter]
    public EventCallback OnGrabar { get; set; }

    public bool IsLoading { get; set; }

    private async Task OnSave()
    {
        if (Model is null) return;

        var isValid = await JsRuntime.InvokeAsync<bool>("validacionRut", Model.Rut);
        if (!isValid)
        {
            await Swal.FireAsync(new SweetAlertOptions
            {
                Icon = SweetAlertIcon.Error,
                Text = "El numero de RUT no es válido",
                AllowEnterKey = true
            });
            return;
        }

        var result = await Swal.FireAsync(new SweetAlertOptions("Actualizar cuenta")
            {
                Icon = SweetAlertIcon.Question,
                Text = "Está seguro de proceder?",
                ConfirmButtonText = "Sí",
                CancelButtonText = "No",
                ShowCancelButton = true,
                AllowEnterKey = true,
            });

        if (result.IsConfirmed)
        {
            await OnGrabar.InvokeAsync();
        }
    }

    private async Task LocalizarAutomaticamente()
    {
        try
        {
            IsLoading = true;
            var ubicacion = await JsRuntime.InvokeAsync<GeolocationResult>("blazorGetGeolocation");

            if (Model is not null)
            {
                Model.Latitud = ubicacion.Latitude.ToString(CultureInfo.InvariantCulture);
                Model.Longitud = ubicacion.Longitude.ToString(CultureInfo.InvariantCulture);
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
        }
        finally
        {
            IsLoading = false;
        }
    }
}