<h3>Ultimos cambios en registro de Productos</h3>

@if (Lista is null)
{
    <p>Cargando...</p>
}
else if (Lista.Count == 0)
{
    <p>No se encontraron registros</p>
}
else
{
    <table class="table table-primary table-bordered table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Relleno</th>
            <th>Tamaño</th>
            <th>Tipo de Torta</th>
            <th>Estado</th>
            <th>Usuario</th>
            <th>Fecha de Cambio</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Lista)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Precio.ToString(Constantes.Formato)</td>
                <td>@item.Cantidad</td>
                <td>@item.Relleno</td>
                <td>@item.Tamanio</td>
                <td>@item.TipoTorta</td>
                <td>@item.Estado</td>
                <td>@item.Usuario</td>
                <td>@item.FechaCambio.ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss")</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    [Parameter]
    public ICollection<ProductoAuditoriaDto>? Lista { get; set; }

}